/* CSS Reset */
html
{
    scroll-behavior: smooth;
}

:root
{
    --navbar-height: 50px;
}

body
{
    font-family: papyrus;
    margin: 0px;
    padding: 0px;
    /* color: brown; */
    /* background: url('https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg'); */
    text-shadow:
                1px 1px 0 #000,
                -1px 1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
    /* transition: all 2s; */
}

/* Header */

header
{
    margin: 0;
    padding: 0;
    position: static;
}

/* Navigation */

#navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#navbar::before
{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top:0px;
    left:0px;
    height: 110%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul
{
    display: flex;
}

#navbar ul li
{
    list-style: none;
}

#navbar ul li a
{
    /* display: block; */
    padding: 2px 50px;
    text-decoration: none;
    color: yellow;
    font-size: 1.4rem;
    
}

#navbar ul li a:hover
{
    color: darkorange;
    text-decoration: underline;
    box-shadow: 3px 3px 5px darkorange;
}

.logo
{
    width: 73px;
    height: 73px;
    /* margin: 10px; */
    position: absolute;
    z-index: 20;
    /* top: 5px; */
    transition: all 0.5s;
}

.logo:hover
{
    transform: scale(1.05);
}

/* Home */

.brand
{
    position: absolute;
    left: 80px;
    top: 10px;
    color: white;
    z-index: 10;
    /* position: sticky; */
    transition: all 0.5s;
}

.brand:hover
{
    transform: scale(1.05);
}

.container
{
    display: flex;
    flex-direction: column;
    padding: 5px 100px;
    justify-content: center;
    align-items: center;
    height: 743px;
}

.container::before
{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    background: url('../img/bg3.jpg') no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.hh
{
    color: gold;
    background: rgb(237,237,237,.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.hh:hover
{
    transform: scale(1.05);
}

.foodimg
{
    width: 80px;
    height: 70px;
    padding: 10px;
    transition: all 1s;
}

.foodimg:hover
{
    transform: rotate(360deg);
}

.container p
{
    text-align: center;
    font-size: 1.5rem;
    color: peachpuff;
    
    background: rgb(237,237,237,.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    /* border-image: linear-gradient(#0003,#000000) 0 50%/0 0%;
    transition: all .6s; */
    transition: all 0.5s;

}

.container p:hover
{
    transform: scale(1.05);
}

.btn
{
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    background-color: gold;
    /* color: #fff; */
    border-radius: 10px;
    cursor: pointer;
    font-family: papyrus;
    transition: all 0.5s;
}

.btn:hover
{
    font-size: 21px;
    color: brown;
    box-shadow: 3px 3px 5px darkorange;
    transform: scale(1.05);
    /* padding: 15px 15px;
    font-size: 22px; */
}

/* Services */

#services
{
    margin: 0px 30px;
    margin-bottom: 20px;
    display: flex;
}

.box
{
    border: 1px solid brown;
    box-shadow: 2px 2px 10px brown;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    background: #eaeaea;
}

.box:hover
{
    border: 2px solid brown;
    box-shadow: 3px 3px 10px brown;
    transform: scale(1.05);
    cursor: pointer;
}

.sh
{
    color: tomato;
    transition: all 0.5s;
}

.sh:hover
{
    transform: scale(1.1);
}

.box img
{
    height: 150px;
    display: block;
    margin: auto;

}

.box p
{
    text-shadow: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Clients */

#client-section
{
    position: relative;
    height: 300px;
}

#client-section::before
{
    content: "";
    position: absolute;
    background: url('../img/client-bg.jpg') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.clients
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item
{
    padding: 40px;
}

.client-item img
{
    width: 70px;
    transition: all 0.5s;
}

.client-item img:hover
{
    transform: rotate(360deg);
    width: 90px;
    
}

.clh
{
    color: #888888;
    transition: all 0.5s;
}

.clh:hover
{
    transform: scale(1.1);
}

/* Contact */

#contact-section
{
    position: relative;
}

#contact-section::before
{
    content: "";
    position: absolute;
    background: url('../img/contactbg.jpg') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.coh
{
    color: dodgerblue;
    transition: all 0.5s;
    
}

.coh:hover
{
    transform: scale(1.05);
}

#contact-box label
{
    font-size: 1.4rem;
    color: dodgerblue;
    text-shadow: 2px 2px 5px;
    
}

.form-group input,
.form-group textarea
{
    width: 100%;
    padding: 0.6rem;
    border-radius: 10px;
    border: 2px solid dodgerblue;
    font-size: 1rem;
    font-family: papyrus;
    box-shadow: 2px 2px 8px dodgerblue;
}

.form-group input:hover,
.form-group textarea:hover
{
    color: #fff;
    background-color: rgb(185, 220, 255);

}

.form-btn
{
    
    cursor: pointer;
    text-align: center;
    padding: 0.6rem;
    margin: 12px 10px;
    box-shadow: 2px 2px 7px dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    font-size: 1rem;
    font-family: papyrus;
    background: linear-gradient(white,skyblue,dodgerblue,darkblue);
}

.form-btn:hover
{
    cursor: pointer;
    background-color: dodgerblue;
    font-size: 1.1rem;
    box-shadow: 2px 2px 2px darkblue;
    color: white;
}

.submit
{
    display: flex;
    justify-content: center;
}

/* Utility Classes */

.h-primary
{
    font-size: 2.2rem;
    padding: 10px;
    margin: 0px 10px
}

.h-secondary
{
    font-size: 1.8rem;
    text-shadow: none;
    color: darkred;
}

.center
{
    text-align: center;
}

/* Footer */

footer 
{   
    font-family: sans-serif;   
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* https://images7.alphacoders.com/109/1097602.jpg */

/* https://www.spar.co.uk/media/1x1n3yq2/shutterstock_370298699.jpg?anchor=center&mode=crop&heightratio=0.5625&width=1920&rnd=133137651761830000 */

/* https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg */

/* https://mrwallpaper.com/images/hd/classy-luxurious-cooking-2u99p2e3qy3u11v8.jpg */

/* https://wallpapers.com/images/hd/food-4k-3gsi5u6kjma5zkj0.jpg */
